{% extends 'base.html' %}

{% block content %}
    <h1>PASCASARJANA</h1>
    <h2>Terdiri dari :</h2>
    <p>1. Doktor Pendidikan</p>
    <p>2. Doktor Ilmu Akuntasi</p>
    <p>3. Magister Ilmu Hukum</p>
    <p>4. Magister Administrasi Publik</p>
    <p>5. Magister Akuntasi</p>
    <p>6. MAgister Ilmu Pertanian</p>
    <p>7. Magister Ilmu Komunikasi</p>
    <p>8. Magister Manajemen</p>
    <p>9. Magister Teknik Kimia</p>
    <p>10. Pendidikan Bahasa Indonesia</p>
    <p>11. Pendidikan Bahasa Inggris</p>
    <p>12. Pendidikan Matematika</p>
    <p>13. Teknologi Pendidikan</p>
    
    {% endblock %}