{% extends 'base.html' %}

{% block content %}
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari prodi :</h2>
    <p>1. Pendidikan Matematika</p>
    <P>2. Pendidikan Biologi</P>
    <p>3. Pendidikan Nonformal</p>
    <p>4. Pemdidikan Bahasa Indonesia</p>
    <p>5. Pendidikan BAhasa Inggris</p>
    <p>6. Pendidikan Guru Sekolah Dasar</p>
    <p>7. Pendidikan Guru PAUD</p>
    <p>8. Bimbingan dan Konseling</p>
    <p>9. Pendidikan Fisika</p>
    <p>10. Pendidikan Ilmu Pengetahuan Alam</p>
    <p>11. Pendidikan Kimia</p>
    <p>12. Pendidikan Khusus</p>
    <p>13. Pendidikan Pancasila dan Kewarganegaraan</p>
    <p>14. Pendidikan Sejarah</p>
    <p>15. Pendidikan Seni dan Pertunjukan</p>
    <p>16. Pendidikan Sosiologi</p>
    <p>17. Pendidikan Vokasional Teknik Elektro</p>
    <p>18. Pendidikan Vokasional Teknik Mesin</p>    
    {% endblock %}