{% extends 'base.html' %}

{% block content %}

    <h1>FAKULTAS PERTANIAN</h1>
    <h2>Program Studi :</h2>
    <p>1. Agribisnis</p>
    <p>2. Agroekoteknologi</p>
    <p>3. Ilmu Perikanan</p>
    <p>4. Teknologi Pangan</p>

    <br>
    <h2>Daftar Nama Dosen FKIP</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for dosen in dataDosen %}
        <tr>
            <th>{{ dosen.nip }}</th>
            <th>{{ dosen.nama }}</th>
            <th>{{ dosen.tanggal_lahir }}</th>
            <th>{{ dosen.foto }}</th>
            <th>{{ dosen.email }}</th>
            <th>{{ dosen.fakultas }}</th>
            <th>{{ dosen.prodi }}</th>
            <th>{{ dosen.alamat }}</th>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Daftar Nama Tenaga Pendidik FKIP</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Unit</th>
            <th>Alamat</th>
        </tr>
        {% for tenagaPendidik in dataTenagaPendidik %}
        <tr>
            <th>{{ tenagaPendidik.nip }}</th>
            <th>{{ tenagaPendidik.nama }}</th>
            <th>{{ tenagaPendidik.tanggal_lahir }}</th>
            <th>{{ tenagaPendidik.foto }}</th>
            <th>{{ tenagaPendidik.email }}</th>
            <th>{{ tenagaPendidik.unit }}</th>
            <th>{{ tenagaPendidik.alamat }}</th>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Daftar Nama Mahasiswa FKIP</h2>
    <table class="table table-success table-striped">
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
        </tr>
        {% for mahasiswa in dataMahasiswa %}
        <tr>
            <th>{{ mahasiswa.nim }}</th>
            <th>{{ mahasiswa.nama }}</th>
            <th>{{ mahasiswa.tanggal_lahir }}</th>
            <th>{{ mahasiswa.foto }}</th>
            <th>{{ mahasiswa.email }}</th>
            <th>{{ mahasiswa.fakultas }}</th>
            <th>{{ mahasiswa.prodi }}</th>
            <th>{{ mahasiswa.alamat }}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}